body {
    background-color: #ffffff;
    grid-template-columns: repeat(4, 1fr);
}

.calc {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 10px solid #ffffff;
    background: #f8f8f8;
}

.input {
    margin-left: 8px;
    margin-top: 20px;
    border: solid 1px #999999;
    radius: 5px;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}

.judul {
    border: solid;
    border-color: lightblue;
}

.container {
    border-color: #999999;
    padding-left: 20px;
    margin-top: 150px;
    width: 400px;
    border-width: 1px;
    border-style: groove;
    border-radius: 5px;
    padding-bottom: 20px;
    padding: 15px;
    background: #999999;
}